article{
  text-align: center;
}
article p span{
  display: block;
  font-family: 'Noto Serif KR', serif; 
  font-size: 20px;
}
h1{
  font-size: 70px; 
  border-bottom: 40px; 
  color: rgb(39, 39, 173);
  box-sizing: border-box;
  margin: 200px 0 0px 0;
}
#icon{
  width: 400px;
  height: 50px;
  margin: 0px 39.5% 10px 39.5%;
  font-size: 20px;
  background-color: rgb(39, 39, 173);
  color: white;
}

